[package]
name = "auth-plus-billing"
version = "0.1.0"
edition = "2021"
authors = ["Andrew Hanasiro <andrewkhanasiro@gmail.com>"]
description = "A billing system"
repository = "https://github.com/auth-plus/auth-plus-billing"
readme = "README.md"
license = "MIT"

[[bin]]
name = "http"
test = false
bench = false

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html
[build]
target = "application"

[dependencies]
actix-web = "4"
rust_decimal = "1.26"
rust_decimal_macros = "1.26"
serde = { version = "1.0", features = ["derive"] }
async-trait = "0.1.58"