[package]
name = "auth-plus-billing"
version = "0.1.0"
edition = "2021"
authors = ["Andrew Hanasiro <andrewkhanasiro@gmail.com>"]
description = "A billing system"
repository = "https://github.com/auth-plus/auth-plus-billing"
readme = "README.md"
license = "MIT"
default-run = "http"

[[bin]]
name = "http"
test = false
bench = false

[[bin]]
name = "kafka"
test = false
bench = false

[dependencies]
actix-web = "4.2"
rust_decimal = "1.27"
rust_decimal_macros = "1.27"
serde = { version = "1.0", features = ["derive"] }
async-trait = "0.1"
sqlx = { version = "0.6", features = [ "runtime-tokio-rustls" , "postgres", "uuid", "json","decimal" ] }
tokio = { version = "1.23", features = ["full"] }
sqlx-core = "0.6"
tracing = "0.1"
tracing-subscriber = "0.3"
mockall = "0.11"
uuid = { version = "1.2", features=['v4', 'serde']}
serde_json = "1.0"
rdkafka = { version = "0.29", features = ["cmake-build"] }
opentelemetry = { version = "0.18.0", features = ["rt-tokio"] }
opentelemetry-zipkin = { version = "0.16.0", features = ["reqwest-client"], default-features = false }

[dev-dependencies]
actix-rt = "2.7"
fake = { version = "2.5", features=['uuid']}