services:
  api:
    build:
      context: .
      dockerfile: Dockerfile
      target: dependency
    ports:
      - '5002:5002'
    command: tail -f /dev/null
    environment:
      APP_NAME: auth-plus-billing
      RUST_ENV: development
      PORT: 5002
      DATABASE_URL: postgres://root:db_password@database:5432/billing
      KAFKA_HOST: kafka:9092
      STRIPE_KEY: 
    volumes:
      - .:/app
    restart: always
    networks:
      - billing-net
    depends_on:
      - database

  database:
    container_name: postgres
    image: postgres:15.1
    restart: always
    environment:
      POSTGRES_PASSWORD: db_password
      POSTGRES_USER: root
      POSTGRES_DB: billing
    ports:
      - '5432:5432'
    volumes:
      - v-database:/var/lib/postgres
    networks:
      - billing-net

networks:
  billing-net:
    driver: bridge

volumes:
  v-database: